html {
    scroll-behavior: smooth;
}

body {
    background: #0f0f23;
    font-family: monospace;
}

#content {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
}

.text {
    color: #090;
    font-size: min(3vw, 1.5em);
    margin: 0;
}

#easter-egg:hover {
    color: #5f5;
}

#name {
    color: #ccc;
    font-size: min(9vw, 4.5em);
    margin: 0;
}

.header {
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.header-text {
    color: #ccc;
    font-size: min(6vw, 3em);
}

hr {
    color: #ccc;
}

a {
    color: #5f5 !important;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 3px #ccc;
}

.card-body {
    background: #151540;
}

h2 {
    color: #090;
}

.card-text {
    color: #060;
}

svg {
    height: 24px !important;
    width: 24px !important;
}

svg:hover {
    stroke: #afa;
}

.card-footer {
    background: #151540;
}

h3 {
    color: #0d0;
}

h4 {
    color: #0b0;
}

#bottom {
    margin-bottom: 10vh;
}